# GitHub CODEOWNERS
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-codeowners

# Default owners for all files
*       @opennms/maintainers

# CI/CD and GitHub configuration
.github/workflows/  @opennms/devops
.github/dependabot.yml @opennms/devops

# Core build system
pom.xml     @opennms/maintainers
Makefile    @opennms/maintainers
mvnw        @opennms/maintainers

# Deployment and Orchestration
opennms-container/  @opennms/devops
container/          @opennms/devops
